
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');

nav{
    background-color:aliceblue;
}
.view{
  background-color: #EEA539 ;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;

 
}
.navigation ul {
  display: flex;
  gap: 3em;
}
.navigation ul li{
  list-style-type: none;
}
.navigation ul li:hover{
  background-color: #EEA539;
  color:aliceblue;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
}
.cart-list{
    gap:2em;
    display:flex;
}

